name: Pull request validation

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: "20.11.0"
          cache: "npm"
          cache-dependency-path: "package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint

      - name: Pack
        uses: neilenns/streamdeck-cli-pack@neilenns/issue2
        with:
          dryRun: true

      - name: Save packaged plugin
        uses: actions/upload-artifact@v4
        with:
          name: Streamdeck-TrackAudio
          path: |
            com.neil-enns.trackaudio.streamDeckPlugin
